<!-- path cyberindex/djangoproject/frontend_techprojects/templates/frontend_techprojects -->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>MY COMMUNITY TECHNOLOGY PLATFORM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="https://myctpmedia.blob.core.windows.net/default/avatars/f8d909803de8b75b0972436093b8e5be67d3c2d3f8a09106674398dd6df98b37.webp">
</head>

<body class="bg-black">
    <script>
        window.csrf_token = "{{ csrf_token }}";
        window.user_id = "{{ user.id }}";
    </script>
    <div id="app">
        TECH PROJECTS APP APP
    </div>
    <script type="module" src="{% static 'frontend_techprojects/assets/index-CjaT8QIT.js' %}"></script>
    <link rel="stylesheet" href="{% static 'frontend_techprojects/assets/index-DlJwR68j.css' %}">
</body>